@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 16px; /* set the relative size for rems. Browser default is 16px, so this makes things bigger */
  @apply min-h-screen;
}

body {
  @apply min-h-screen;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@screen md {
  html {
    font-size: 18px;
  }
}
