---
import { Page } from "astro";
import { ContentWrapper, Post } from "../types/Post";
import "./BlogList.css";
import Card from "./Card";
import BlogPagination from "./BlogPagination";
export interface Props {
  page: Page<ContentWrapper<Post>>;
}

const { page } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
  {
    page.data.map((blog, i) => {
      const imageUrl = blog.data.featuredimage?.src;
      return (
        <a href={"/p/" + blog.slug}>
          <Card className="h-full">
            <article>
              <div class="text-lg font-bold">{blog.data.title}</div>
              <div class="text-mode-info text-sm">
                {blog.data.date.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </div>
              {imageUrl ? (
                <div class="relative mt-2 pb-[50%] ">
                  <img
                    class="absolute h-full w-full object-cover rounded-md"
                    src={imageUrl}
                  />
                </div>
              ) : (
                <div class="flex-auto max-h-36 mt-2 leading-6 overflow-hidden relative overflow-ellipsis overflow-clip line-clamp-5 text-justify px-2">
                  {blog.data.description}
                </div>
              )}
            </article>
          </Card>
        </a>
      );
    })
  }
</div>
<BlogPagination page={page} />
