---
import { ContentWrapper, Post } from "../types/Post";
export interface Props {
  page: ContentWrapper<Post>[];
}

const { page } = Astro.props;
---

<style>
  .blog-summary-img {
    height: 60%;
  }

  .blog-summary-img > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
</style>
<div class="grid grid-cols-1 gap-4">
  {
    page.map((blog, i) => {
      const imageUrl = blog.data.featuredimage?.src;
      return (
        <a href={"/p/" + blog.slug}>
          <div class="overflow-auto p-2 h-full">
            <article>
              <div class="text-2xl font-bold">{blog.data.title}</div>
              <div class="text-mode-info text-sm">
                {blog.data.date.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </div>
              {imageUrl && (
                <div class="relative mt-2 pb-[50%] ">
                  <img
                    class="absolute h-full w-full object-cover rounded-md"
                    src={imageUrl}
                  />
                </div>
              )}
              <div class="flex-auto max-h-36 mt-2 leading-6 overflow-hidden relative overflow-ellipsis overflow-clip line-clamp-5 text-justify">
                {blog.data.description}
              </div>
            </article>
          </div>
        </a>
      );
    })
  }
</div>
