body.fly {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>🪰</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

svg .iris {
  fill: #ffffff;
}

svg .highlight-1 {
  fill: var(--colors-secondary-400);
}

svg .highlight-2 {
  fill: var(--colors-primary-400);
}

svg .highlight-3 {
  fill: var(--colors-tertiary-400);
}

svg .line {
  stroke: var(--colors-neutral-700);
}

svg #right-pupil,
svg #left-pupil {
  fill: var(--colors-neutral-700);
}
